.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 2%;
}

.center{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.detalhesBox{
    display: flex;
    flex-direction: row;
}

.detalhes {
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    padding: 2%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}


.detalhes img {
    width: 100%; 
    max-width: 150px; 
    height: auto;
}

.detalhes p {
    margin-bottom: 5px; 
    color: white;
    text-align: center;
}

.typePokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.typePokemon p{
    padding: 10%;
    border-radius: 20px;
    color: white;
    width: 100%;
    margin: 2%;
    border: 1px solid;
    border-color: white;
    cursor: pointer;
}
