.container{
    display: flex;
    flex-direction: column;
    align-items: right; 
    flex: 1;
    justify-content: center;
}

.abilitys{
    color: black;
    background-color: white;
    width: 80%;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
}

.move{
    color:white
}